.wraper {
  align-self: flex-end;
  padding: 5px 15px;
  display: flex;

  div {
    display: flex;
    align-items: center;
  }

  p {
    display: inline-block;
    padding: 0 10px;

    &:nth-last-of-type(1) {
      padding: 0 30px;
    }
  }

  img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    padding: 10px;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      filter: invert(0.5);
    }
  }

  .disabled {
    filter: invert(0.9);

    &:hover {
      cursor: unset;
      filter: invert(0.9);
    }
  }
}

@media (max-width: 600px) {
  .wraper {
    flex-direction: column;
    align-self: center;

    div {
      margin-bottom: 25px;
    }
  }
}