@import '../../styles/mixins.scss';

.select {
  @include shadows-and-border;
  padding: 6px 10px;
  font-size: inherit;
  font-family: inherit;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}