@import '../../styles/mixins.scss';

.input {
  @include shadows-and-border;
  width: max-content;
  max-width: 100%;
  padding: 6px 10px;
  font-family: inherit;
  font-size: inherit;
  align-self: flex-end;
  border-radius: 3px;
}